In [2]:
import requests
import pandas as pd
import numpy as np
import io
import geopandas as gpd
from datetime import timedelta
from shapely.geometry import Point

In [3]:
import os

In [4]:
gdf_thailand = gpd.read_file(r'E:\_CoopProject\data\thailand_gis-main\tambon\thailand_province_amphoe_tambon_simplify')
gdf_thailand

,ADM3_EN,ADM3_TH,ADM3_PCODE,ADM2_EN,ADM2_TH,ADM2_PCODE,ADM1_EN,ADM1_TH,ADM1_PCODE,ADM0_EN,ADM0_TH,ADM0_PCODE,geometry
0,Phraborom Maharatchawang,พระบรมมหาราชวัง,TH100101,Phra Nakhon,พระนคร,TH1001,Bangkok,กรุงเทพมหานคร,TH10,Thailand,ประเทศไทย,TH,"POLYGON ((100.49453 13.75759, 100.49494 13.757..."
1,Wang Burapha Phirom,วังบูรพาภิรมย์,TH100102,Phra Nakhon,พระนคร,TH1001,Bangkok,กรุงเทพมหานคร,TH10,Thailand,ประเทศไทย,TH,"POLYGON ((100.50131 13.74800, 100.50412 13.747..."
2,Wat Ratchabophit,วัดราชบพิธ,TH100103,Phra Nakhon,พระนคร,TH1001,Bangkok,กรุงเทพมหานคร,TH10,Thailand,ประเทศไทย,TH,"POLYGON ((100.50131 13.74800, 100.49633 13.748..."
3,Samran Rat,สำราญราษฎร์,TH100104,Phra Nakhon,พระนคร,TH1001,Bangkok,กรุงเทพมหานคร,TH10,Thailand,ประเทศไทย,TH,"POLYGON ((100.50554 13.75378, 100.50412 13.747..."
4,San Chaopho Suea,ศาลเจ้าพ่อเสือ,TH100105,Phra Nakhon,พระนคร,TH1001,Bangkok,กรุงเทพมหานคร,TH10,Thailand,ประเทศไทย,TH,"POLYGON ((100.49875 13.75560, 100.49821 13.751..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7420,Phadung Mat,ผดุงมาตร,TH961203,Chanae,จะแนะ,TH9612,Narathiwat,นราธิวาส,TH96,Thailand,ประเทศไทย,TH,"POLYGON ((101.71286 6.17046, 101.71403 6.16538..."
7421,Chang Phueak,ช้างเผือก,TH961204,Chanae,จะแนะ,TH9612,Narathiwat,นราธิวาส,TH96,Thailand,ประเทศไทย,TH,"POLYGON ((101.67997 5.99753, 101.67567 5.98895..."
7422,Chuap,จวบ,TH961301,Cho-Airong,เจาะไอร้อง,TH9613,Narathiwat,นราธิวาส,TH96,Thailand,ประเทศไทย,TH,"POLYGON ((101.86883 6.29824, 101.86908 6.29436..."
7423,Bu Kit,บูกิต,TH961302,Cho-Airong,เจาะไอร้อง,TH9613,Narathiwat,นราธิวาส,TH96,Thailand,ประเทศไทย,TH,"POLYGON ((101.88570 6.19545, 101.87473 6.19872..."
7424,Marue Bo Ok,มะรือโบออก,TH961303,Cho-Airong,เจาะไอร้อง,TH9613,Narathiwat,นราธิวาส,TH96,Thailand,ประเทศไทย,TH,"POLYGON ((101.91635 6.28318, 101.91713 6.27785..."

In [5]:
def getData(date):
    # get from url
    y, m, d = date.split('-')
    url = f'https://firms2.modaps.eosdis.nasa.gov/api/country/csv/cea584916717f2288aa22711dadd89e7/MODIS_NRT/THA/2/{y}-{m}-{int(d)-1}'
    urlData = requests.get(url).content
    fire_detect = pd.read_csv(io.StringIO(urlData.decode('utf-8')))
    gdf = gpd.GeoDataFrame(fire_detect)

    # edit time column
    gdf['acq_time'] = gdf['acq_time'].astype('str')
    gdf['acq_time'] = gdf['acq_time'].apply(lambda x: x.rjust(4, '0'))

    gdf['acq_date_time'] = pd.to_datetime(gdf['acq_date'] + ' ' + gdf['acq_time'])
    gdf['th_date_time'] = gdf['acq_date_time'] + timedelta(hours=7)
    gdf = gdf[(gdf['th_date_time']>=date) & (gdf['th_date_time']<f'{y}-{m}-{int(d)+1}')].reset_index().drop(columns=['index', 'acq_date_time'])
    gdf['th_date'] = gdf['th_date_time'].apply(lambda x: str(x).split(' ')[0])
    gdf['th_time'] = gdf['th_date_time'].apply(lambda x: str(x).split(' ')[1])

    # Create Point from lat, long
    geometry = [Point(xy) for xy in zip(gdf['longitude'], gdf['latitude'])]
    gdf['geometry'] = geometry
    
    return gpd.GeoDataFrame(gdf, crs=4326)

date_str = '2023-05-22'
data = getData(date_str)
data = data.loc[:, ['latitude', 'longitude', 'confidence', 'th_date', 'th_time', 'geometry']]
data

,latitude,longitude,confidence,th_date,th_time,geometry
0,17.46168,101.89087,60,2023-05-22,10:45:00,POINT (101.89087 17.46168)
1,17.65386,100.00925,68,2023-05-22,10:45:00,POINT (100.00925 17.65386)
2,18.24682,99.53375,88,2023-05-22,10:45:00,POINT (99.53375 18.24682)
3,18.58789,99.05137,31,2023-05-22,10:45:00,POINT (99.05137 18.58789)
4,18.69384,100.23157,62,2023-05-22,10:45:00,POINT (100.23157 18.69384)
5,19.67976,100.30830,48,2023-05-22,10:45:00,POINT (100.30830 19.67976)
6,19.77347,99.76343,64,2023-05-22,10:45:00,POINT (99.76343 19.77347)
7,19.83875,99.63877,51,2023-05-22,10:45:00,POINT (99.63877 19.83875)
8,10.91775,99.47620,63,2023-05-22,10:47:00,POINT (99.47620 10.91775)
9,10.91955,99.46468,69,2023-05-22,10:47:00,POINT (99.46468 10.91955)
10,13.86944,99.25631,76,2023-05-22,10:47:00,POINT (99.25631 13.86944)
11,14.59412,104.58939,62,2023-05-22,10:47:00,POINT (104.58939 14.59412)
12,15.04377,100.97472,64,2023-05-22,10:47:00,POINT (100.97472 15.04377)
13,15.40500,100.38293,60,2023-05-22,10:47:00,POINT (100.38293 15.40500)
14,15.52011,100.43209,74,2023-05-22,10:47:00,POINT (100.43209 15.52011)
15,15.52193,100.42047,80,2023-05-22,10:47:00,POINT (100.42047 15.52193)
16,15.52205,100.42690,84,2023-05-22,10:47:00,POINT (100.42690 15.52205)
17,16.10836,102.37800,37,2023-05-22,10:47:00,POINT (102.37800 16.10836)
18,16.55676,104.29542,50,2023-05-22,21:37:00,POINT (104.29542 16.55676)

In [6]:
new_data = gpd.overlay(data, gdf_thailand, how='intersection')
new_data.head()

,latitude,longitude,confidence,th_date,th_time,ADM3_EN,ADM3_TH,ADM3_PCODE,ADM2_EN,ADM2_TH,ADM2_PCODE,ADM1_EN,ADM1_TH,ADM1_PCODE,ADM0_EN,ADM0_TH,ADM0_PCODE,geometry
0,17.46168,101.89087,60,2023-05-22,10:45:00,Na Din Dam,นาดินดำ,TH420109,Mueang Loei,เมืองเลย,TH4201,Loei,เลย,TH42,Thailand,ประเทศไทย,TH,POINT (101.89087 17.46168)
1,17.65386,100.00925,68,2023-05-22,10:45:00,Fai Luang,ฝายหลวง,TH530804,Laplae,ลับแล,TH5308,Uttaradit,อุตรดิตถ์,TH53,Thailand,ประเทศไทย,TH,POINT (100.00925 17.65386)
2,18.24682,99.53375,88,2023-05-22,10:45:00,Phrabat,พระบาท,TH520105,Mueang Lampang,เมืองลำปาง,TH5201,Lampang,ลำปาง,TH52,Thailand,ประเทศไทย,TH,POINT (99.53375 18.24682)
3,18.58789,99.05137,31,2023-05-22,10:45:00,Ban Klang,บ้านกลาง,TH510112,Mueang Lamphun,เมืองลำพูน,TH5101,Lamphun,ลำพูน,TH51,Thailand,ประเทศไทย,TH,POINT (99.05137 18.58789)
4,18.69384,100.23157,62,2023-05-22,10:45:00,Sa-Iap,สะเอียบ,TH540606,Song,สอง,TH5406,Phrae,แพร่,TH54,Thailand,ประเทศไทย,TH,POINT (100.23157 18.69384)

In [8]:
out_fc_path = os.path.join('C:\coop_project_fire_spot\Fire-Spot-Thailand\data', date_str)
os.makedirs(out_fc_path, exist_ok=True)
new_data.to_file(out_fc_path, encoding='utf-8')

In [4]:
prov = pd.read_excel(r'C:\coop_project_fire_spot\Fire-Spot-Thailand\data\all_tambons.xlsx', sheet_name='Sheet1', header=0)
prov

,ADM3_EN,ADM3_TH,ADM3_PCODE,ADM2_EN,ADM2_TH,ADM2_PCODE,ADM1_EN,ADM1_TH,ADM1_PCODE,Shape_Area
0,Phraborom Maharatchawang,พระบรมมหาราชวัง,TH100101,Phra Nakhon,พระนคร,TH1001,Bangkok,กรุงเทพมหานคร,TH10,0.000128
1,Wang Burapha Phirom,วังบูรพาภิรมย์,TH100102,Phra Nakhon,พระนคร,TH1001,Bangkok,กรุงเทพมหานคร,TH10,0.000061
2,Wat Ratchabophit,วัดราชบพิธ,TH100103,Phra Nakhon,พระนคร,TH1001,Bangkok,กรุงเทพมหานคร,TH10,0.000018
3,Samran Rat,สำราญราษฎร์,TH100104,Phra Nakhon,พระนคร,TH1001,Bangkok,กรุงเทพมหานคร,TH10,0.000019
4,San Chaopho Suea,ศาลเจ้าพ่อเสือ,TH100105,Phra Nakhon,พระนคร,TH1001,Bangkok,กรุงเทพมหานคร,TH10,0.000013
...,...,...,...,...,...,...,...,...,...,...
7420,Phadung Mat,ผดุงมาตร,TH961203,Chanae,จะแนะ,TH9612,Narathiwat,นราธิวาส,TH96,0.004115
7421,Chang Phueak,ช้างเผือก,TH961204,Chanae,จะแนะ,TH9612,Narathiwat,นราธิวาส,TH96,0.031049
7422,Chuap,จวบ,TH961301,Cho-Airong,เจาะไอร้อง,TH9613,Narathiwat,นราธิวาส,TH96,0.004813
7423,Bu Kit,บูกิต,TH961302,Cho-Airong,เจาะไอร้อง,TH9613,Narathiwat,นราธิวาส,TH96,0.005915
7424,Marue Bo Ok,มะรือโบออก,TH961303,Cho-Airong,เจาะไอร้อง,TH9613,Narathiwat,นราธิวาส,TH96,0.005217

In [6]:
prov[prov['ADM1_TH']=='กรุงเทพมหานคร']['ADM2_TH'].unique()

array(['พระนคร', 'ดุสิต', 'หนองจอก', 'บางรัก', 'บางเขน', 'บางกะปิ',
       'ปทุมวัน', 'ป้อมปราบศัตรูพ่า', 'พระโขนง', 'มีนบุรี', 'ลาดกระบัง',
       'ยานนาวา', 'สัมพันธวงศ์', 'พญาไท', 'ธนบุรี', 'บางกอกใหญ่',
       'ห้วยขวาง', 'คลองสาน', 'ตลิ่งชัน', 'บางกอกน้อย', 'บางขุนเทียน',
       'ภาษีเจริญ', 'หนองแขม', 'ราษฎร์บูรณะ', 'บางพลัด', 'ดินแดง',
       'บึงกุ่ม', 'สาทร', 'บางซื่อ', 'จตุจักร', 'บางคอแหลม', 'ประเวศ',
       'คลองเตย', 'สวนหลวง', 'จอมทอง', 'ดอนเมือง', 'ราชเทวี', 'ลาดพร้าว',
       'วัฒนา', 'บางแค', 'หลักสี่', 'สายไหม', 'คันนายาว', 'สะพานสูง',
       'วังทองหลาง', 'คลองสามวา', 'บางนา', 'ทวีวัฒนา', 'ทุ่งครุ',
       'บางบอน'], dtype=object)

In [7]:
a = gpd.read_file(r'E:\_CoopProject\data\thailand_gis-main\tambon\shapefiles\Chiang Rai')
b = gpd.read_file(r'E:\_CoopProject\cri\เชียงราย2563\ขอบเขตการปกครอง\tambon_เชียงราย', encoding='cp874')

In [10]:
b.head()

,OBJECTID,TAMBON_IDN,TAM_CODE,TAM_NAM_T,AMPHOE_IDN,AMP_CODE,AMPHOE_T,AMPHOE_E,PROV_CODE,PROV_NAM_T,REMARK,ORIG_FID,Shape_Leng,Shape_Area,PROV_NAM_E,geometry
0,4884,570101,01,ต.เวียง,5701,01,อ.เมืองเชียงราย,Amphoe Muang Chiang Mai,57,จ.เชียงราย,NaN,4871,8798.119475,3.426093e+06,Chiang Rai,"POLYGON ((588018.592 2202314.379, 588101.405 2..."
1,4885,570102,02,ต.รอบเวียง,5701,01,อ.เมืองเชียงราย,Amphoe Muang Chiang Mai,57,จ.เชียงราย,NaN,4872,44338.503533,5.147291e+07,Chiang Rai,"POLYGON ((594052.103 2203315.133, 594073.166 2..."
2,4886,570103,03,ต.บ้านดู่,5701,01,อ.เมืองเชียงราย,Amphoe Muang Chiang Mai,57,จ.เชียงราย,NaN,4873,63870.714700,1.032365e+08,Chiang Rai,"POLYGON ((590400.403 2224232.669, 588337.900 2..."
3,4887,570104,04,ต.นางแล,5701,01,อ.เมืองเชียงราย,Amphoe Muang Chiang Mai,57,จ.เชียงราย,NaN,4874,56945.683101,1.035695e+08,Chiang Rai,"POLYGON ((597013.040 2224748.922, 596738.039 2..."
4,4888,570105,05,ต.แม่ข้าวต้ม,5701,01,อ.เมืองเชียงราย,Amphoe Muang Chiang Mai,57,จ.เชียงราย,NaN,4875,59506.284462,1.055717e+08,Chiang Rai,"POLYGON ((605664.430 2223980.173, 605491.305 2..."

In [9]:
a['ADM3_PCODE'] = a['ADM3_PCODE'].apply(lambda x: x[2:])
a.head()

,Shape_Leng,Shape_Area,ADM3_EN,ADM3_TH,ADM3_PCODE,ADM2_EN,ADM2_TH,ADM2_PCODE,ADM1_EN,ADM1_TH,ADM1_PCODE,ADM0_EN,ADM0_TH,ADM0_PCODE,geometry
0,0.099252,0.000312,Wiang,เวียง,570101,Mueang Chiang Rai,เมืองเชียงราย,TH5701,Chiang Rai,เชียงราย,TH57,Thailand,ประเทศไทย,TH,"POLYGON ((99.84097 19.91549, 99.84176 19.91525..."
1,0.456162,0.004313,Rop Wiang,รอบเวียง,570102,Mueang Chiang Rai,เมืองเชียงราย,TH5701,Chiang Rai,เชียงราย,TH57,Thailand,ประเทศไทย,TH,"POLYGON ((99.89883 19.92759, 99.89903 19.92700..."
2,0.382767,0.005533,Ban Du,บ้านดู่,570103,Mueang Chiang Rai,เมืองเชียงราย,TH5701,Chiang Rai,เชียงราย,TH57,Thailand,ประเทศไทย,TH,"POLYGON ((99.84842 19.99287, 99.84898 19.99176..."
3,0.445377,0.005632,Nang Lae,นางแล,570104,Mueang Chiang Rai,เมืองเชียงราย,TH5701,Chiang Rai,เชียงราย,TH57,Thailand,ประเทศไทย,TH,"POLYGON ((99.84788 20.04191, 99.84887 20.04148..."
4,0.637215,0.008429,Mae Khao Tom,แม่ข้าวต้ม,570105,Mueang Chiang Rai,เมืองเชียงราย,TH5701,Chiang Rai,เชียงราย,TH57,Thailand,ประเทศไทย,TH,"POLYGON ((99.94840 20.13613, 99.94842 20.13613..."

In [17]:
for i in a['ADM3_PCODE'].values:
    if i not in list(b['TAMBON_IDN'].values):
        print(i)

570121
570404

In [23]:
b[b['AMPHOE_T']=='อ.เมืองเชียงราย']

,OBJECTID,TAMBON_IDN,TAM_CODE,TAM_NAM_T,AMPHOE_IDN,AMP_CODE,AMPHOE_T,AMPHOE_E,PROV_CODE,PROV_NAM_T,REMARK,ORIG_FID,Shape_Leng,Shape_Area,PROV_NAM_E,geometry
0,4884,570101,01,ต.เวียง,5701,01,อ.เมืองเชียงราย,Amphoe Muang Chiang Mai,57,จ.เชียงราย,NaN,4871,8798.119475,3.426093e+06,Chiang Rai,"POLYGON ((588018.592 2202314.379, 588101.405 2..."
1,4885,570102,02,ต.รอบเวียง,5701,01,อ.เมืองเชียงราย,Amphoe Muang Chiang Mai,57,จ.เชียงราย,NaN,4872,44338.503533,5.147291e+07,Chiang Rai,"POLYGON ((594052.103 2203315.133, 594073.166 2..."
2,4886,570103,03,ต.บ้านดู่,5701,01,อ.เมืองเชียงราย,Amphoe Muang Chiang Mai,57,จ.เชียงราย,NaN,4873,63870.714700,1.032365e+08,Chiang Rai,"POLYGON ((590400.403 2224232.669, 588337.900 2..."
3,4887,570104,04,ต.นางแล,5701,01,อ.เมืองเชียงราย,Amphoe Muang Chiang Mai,57,จ.เชียงราย,NaN,4874,56945.683101,1.035695e+08,Chiang Rai,"POLYGON ((597013.040 2224748.922, 596738.039 2..."
4,4888,570105,05,ต.แม่ข้าวต้ม,5701,01,อ.เมืองเชียงราย,Amphoe Muang Chiang Mai,57,จ.เชียงราย,NaN,4875,59506.284462,1.055717e+08,Chiang Rai,"POLYGON ((605664.430 2223980.173, 605491.305 2..."
5,4889,570106,06,ต.แม่ยาว,5701,01,อ.เมืองเชียงราย,Amphoe Muang Chiang Mai,57,จ.เชียงราย,NaN,4876,93442.464381,2.364220e+08,Chiang Rai,"POLYGON ((582569.453 2218111.156, 582705.029 2..."
6,4890,570107,07,ต.สันทราย,5701,01,อ.เมืองเชียงราย,Amphoe Muang Chiang Mai,57,จ.เชียงราย,NaN,4877,22424.316233,1.870485e+07,Chiang Rai,"POLYGON ((587434.343 2197039.869, 587311.968 2..."
7,4891,570111,11,ต.แม่กรณ์,5701,01,อ.เมืองเชียงราย,Amphoe Muang Chiang Mai,57,จ.เชียงราย,NaN,4878,42167.511007,7.553775e+07,Chiang Rai,"POLYGON ((576529.760 2198060.118, 576547.487 2..."
8,4892,570112,12,ต.ห้วยชมภู,5701,01,อ.เมืองเชียงราย,Amphoe Muang Chiang Mai,57,จ.เชียงราย,NaN,4879,109589.121608,2.925827e+08,Chiang Rai,"POLYGON ((560170.105 2213996.138, 560229.102 2..."
9,4893,570113,13,ต.ห้วยสัก,5701,01,อ.เมืองเชียงราย,Amphoe Muang Chiang Mai,57,จ.เชียงราย,NaN,4880,61293.875266,1.826366e+08,Chiang Rai,"POLYGON ((598000.926 2192759.364, 598107.573 2..."
10,4894,570114,14,ต.ริมกก,5701,01,อ.เมืองเชียงราย,Amphoe Muang Chiang Mai,57,จ.เชียงราย,NaN,4881,59456.814592,5.977976e+07,Chiang Rai,"POLYGON ((600406.611 2214020.154, 600428.549 2..."
11,4895,570115,15,ต.ดอยลาน,5701,01,อ.เมืองเชียงราย,Amphoe Muang Chiang Mai,57,จ.เชียงราย,NaN,4882,55603.703213,1.382995e+08,Chiang Rai,"POLYGON ((605520.428 2184053.660, 605547.880 2..."
12,4896,570116,16,ต.ป่าอ้อดอนชัย,5701,01,อ.เมืองเชียงราย,Amphoe Muang Chiang Mai,57,จ.เชียงราย,NaN,4883,63202.452225,8.711903e+07,Chiang Rai,"POLYGON ((580633.392 2199932.373, 580772.767 2..."
13,4897,570118,18,ต.ท่าสาย,5701,01,อ.เมืองเชียงราย,Amphoe Muang Chiang Mai,57,จ.เชียงราย,NaN,4884,34610.969522,4.890612e+07,Chiang Rai,"POLYGON ((589949.035 2197898.121, 589929.722 2..."
14,4898,570120,20,ต.ดอยฮาง,5701,01,อ.เมืองเชียงราย,Amphoe Muang Chiang Mai,57,จ.เชียงราย,NaN,4885,47304.156492,7.693950e+07,Chiang Rai,"POLYGON ((581901.644 2202130.127, 581780.269 2..."

In [20]:
a[a['ADM3_PCODE'].isin(['570121', '570404'])]

,Shape_Leng,Shape_Area,ADM3_EN,ADM3_TH,ADM3_PCODE,ADM2_EN,ADM2_TH,ADM2_PCODE,ADM1_EN,ADM1_TH,ADM1_PCODE,ADM0_EN,ADM0_TH,ADM0_PCODE,geometry
15,0.392665,0.007153,Tha Sut,ท่าสุด,570121,Mueang Chiang Rai,เมืองเชียงราย,TH5701,Chiang Rai,เชียงราย,TH57,Thailand,ประเทศไทย,TH,"POLYGON ((99.92840 20.11704, 99.92770 20.11455..."
31,0.405083,0.006422,Mae Loi,แม่ลอย,570404,Thoeng,เทิง,TH5704,Chiang Rai,เชียงราย,TH57,Thailand,ประเทศไทย,TH,"POLYGON ((100.06778 19.62627, 100.06776 19.625..."